.maincontent {
  text-align: center;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
}

.test-input {
  width: 100%;
  border: 0px;
  margin-top: 10px;
  background-color: rgb(213, 213, 213);
  font-size: 20px;
  border-radius: 5px;
}


input:focus {
  outline-width: 0px;
}

.test-area {

  text-align: left;

  padding: 10px;
  font-size: 20px;
}

.correct {
  color: rgb(58, 198, 142)
}

.incorrect {
  color: rgb(219, 70, 95);
}

.active {
  color: black;
}

.inactive {
  color: grey;
}

.restart-button {
   margin-bottom: 15px;
   background-color: white;
   border-radius: 5px;
   font-size: 15px;
}